@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4.h5,h6,a{
    text-decoration: none;
}

@layer components {
    .nav_anchor {
      @apply font-poppins text-[#BBBBCB] text-base font-medium leading-7 capitalize hover:text-sada transition-all ease-linear duration-300;
    }
};
@layer components {
    .foot_anchor {
      @apply font-poppins text-[#282938]  text-base font-medium leading-7 capitalize ;
    }
};
@layer components {
    .nav_btn {
      @apply font-poppins text-sada text-base font-medium leading-7 capitalize px-12 py-4 rounded-[41px] border-2 border-[#F4F6FC] border-solid cursor-pointer hover:bg-secondary hover:text-black hover:border-secondary transition-all ease-linear duration-300;
    }
};
@layer components {
    .nav_btn2 {
      @apply font-poppins text-black text-base font-medium leading-7 capitalize px-12 py-4 rounded-[41px] bg-secondary border-2 border-primary border-solid cursor-pointer hover:bg-transparent hover:text-sada hover:border-sada transition-all ease-linear duration-300;
    }
};
@layer components {
    .nav_btn3 {
      @apply font-poppins text-sada text-base font-medium leading-7 capitalize px-12 py-4 rounded-[41px] bg-dark-blue border-2 border-primary border-solid cursor-pointer hover:bg-secondary hover:text-dark-blue hover:border-sada transition-all ease-linear duration-300;
    }
};
@layer components {
    .pera {
      @apply font-poppins text-[#2829389e] text-base font-medium leading-7 ;
    }
};
@layer components {
    .image_style {
      @apply h-full w-full object-cover bg-cover bg-no-repeat shrink-0;
    }
};
@layer components {
    .sub_heading {
      @apply font-poppins text-dark-blue text-lg font-medium  leading-[28px] capitalize;
    }
};
@layer components {
    .heading1 {
      @apply font-poppins text-sada text-[54px] font-semibold  leading-[74px];
    }
};
@layer components {
    .heading2 {
      @apply font-poppins text-dark-blue text-5xl font-semibold  leading-[64px] ; 
    }
};
@layer components {
    .heading3 {
      @apply font-poppins text-dark-blue text-[38px] font-semibold  leading-[56px] ; 
    }
};
@layer components {
    .heading5 {
      @apply font-poppins text-dark-blue text-3xl font-medium capitalize leading-[48px]; 
    }
};
@layer components {
    .heading6 {
      @apply font-poppins text-2xl font-medium leading-9 text-dark-blue capitalize; 
    }
};
@layer components {
    .Label1 {
      @apply font-poppins text-blue text-lg font-semibold  leading-[32px] ;
    }
};
@layer components {
    .label2 {
      @apply font-poppins text-[#282938c9] text-base font-normal  leading-9 ; 
    }
};
@layer components {
    .practice {
      @apply font-poppins text-blue text-lg font-semibold  leading-[32px] bg-[#fcd9801a] ;
    }
};
